<!-- <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Quintessential&display=swap" rel="stylesheet">

<div class="container-outer">
    <div class="container-inner">
        <div class="photo">
            <img src="../../assets/principal-photo.png" alt="principal-photo" id="img-style">
        </div>
        <div class="name-style">
            <p style="font-size: 2.8rem;">Manisha Khadke</p>
            <p style="font-size: 1.5rem;">Founder and Principal</p>
        </div>
    </div>
    <div class="note">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla nisi ligula, condimentum a auctor ut, condimentum vitae sapien. Pellentesque eu convallis purus. Donec elementum ligula pellentesque enim consectetur tempor. In pharetra lacinia ligula, sed finibus leo. Morbi ut venenatis metus, nec imperdiet nulla. Fusce sollicitudin vulputate diam in blandit. Sed bibendum magna dapibus fringilla congue.</p>
    </div>
</div> -->
