<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Charm&family=Edu+VIC+WA+NT+Beginner&family=Klee+One&display=swap" rel="stylesheet">

<div class="container container-left">
    <div class="container-left-content">
        <img src="../../assets/principal-photo.png" alt="principal-photo" class="img-style"> 
        <div class="img-label">
            <p style="font-size: 2.4rem;">Manisha Khadke</p>
            <p style="font-size: 1.4rem; ">Founder & Principal</p>
        </div>
    </div>
</div>

<div class="container container-right">
    <div class="note">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla nisi ligula, condimentum a auctor ut, condimentum vitae sapien. Pellentesque eu convallis purus. Donec elementum ligula pellentesque enim consectetur tempor. In pharetra lacinia ligula, sed finibus leo. Morbi ut venenatis metus, nec imperdiet nulla. Fusce sollicitudin vulputate diam in blandit. Sed bibendum magna dapibus fringilla congue.

            Cras tempor a mi vel mattis. Nullam ullamcorper neque eu lorem interdum, vel tincidunt lorem laoreet. Cras vitae massa elit. Mauris dictum, quam ac tristique convallis, sem ante facilisis magna, vel pellentesque orci augue at odio. In blandit commodo gravida. Sed consequat luctus massa at elementum. Cras sed mollis metus.</p>
    </div>
</div>


