@import url('https://fonts.googleapis.com/css2?family=Charm&family=Edu+VIC+WA+NT+Beginner&family=Klee+One&display=swap');

.container { 
    background-color: #182747;
    color: white;
    display: flex;
    height: 400px;
    margin: 0;
}

.container-left {  
    float: left; 
    width: 40%;
}

.img-style {
    position: absolute;
    height: 180px;
    left: 260px;
    top: 1070px;
}

.img-label {
    /* font-family: 'Klee One', cursive; */
    font-family: 'Montserrat', sans-serif;
    color: #FFFBAC;
    position: absolute;
    left: 185px;
    top: 1270px;
    text-align: center;
}

.note {
    font-family: 'Montserrat', sans-serif;
    background-color: #F49D1A;
    color: #182747;
    height: 200px;
    margin-left: 70px;
    margin-right: 120px;
    margin-top: 70px;
    margin-bottom: 50px;
    padding: 30px;
    text-align: justify;
    align-content: center;
    border-radius: 15px;
    box-shadow: 0 6px 20px 0 rgba(24, 39, 71, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.8);
}




