<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">

<div class="row decor-row">
    <div class="column decor-col1">
        <img 
            src="../../assets/administration-icon.png" 
            alt="administration-icon.png" 
            class = "style-login-type-icon"
        >
        <p>{{ section1 }}</p>
    </div>
    <div class="column decor-col2">
        <img 
            src="../../assets/principal-icon.png" 
            alt="administration-icon.png" 
            class = "style-login-type-icon"
        >
        <p>{{ section2 }}</p>
    </div>
    <div class="column decor-col3">
        <img 
            src="../../assets/teacher-icon.png" 
            alt="administration-icon.png" 
            class = "style-login-type-icon"
        >
        <p>{{ section3 }}</p>
    </div>
    <div class="column decor-col4">
        <img 
            src="../../assets/students-icon.png" 
            alt="administration-icon.png" 
            class = "style-login-type-icon"
        >
        <p>{{ section4 }}</p>
    </div>
</div>